<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room <%= roomId %>
    </title>
</head>

<body>
    <h1>Welcome to Room <%= roomId %>
    </h1>

    <video id="userVideo" muted></video>
    <div id="videoGrid"></div>
    <div id="userCount">Users connected: 0</div>


    <!-- Your audio and video elements can go here -->
    <audio id="myAudio" autoplay></audio>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-peer/simplepeer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peerjs@1.3.2/dist/peerjs.min.js"></script>
    <!-- <script src="/public/script.js?v=1.0"></script> -->
    <script src="/script.js?v=1.0"></script>




</body>

</html>